<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/sucess-failure-register.css">
    <title>Bela Amora | Cadastro de Clientes</title>
</head>
<body id="global-container">
    <header id="header-container">
        <a href="">
            <img src="medias/images/bela-amora-logo.svg" alt="">
        </a>
        <h1 class="style-titles">Bela Amora - Sistema E.R.P</h1>
    </header>
    <main id="main-container">
        <h1 class="style-titles">Cliente Cadastrado com Sucesso</h1> <br>
        <img src="medias/images/check-ok.svg" alt=""> <br> <br>
        <a class="btn-keep-register" href="register-client">Continuar cadastrando</a>
        
    </main>
    <aside id="aside-container"></aside>
    <footer id="footer-container">
        <h4 class="style-titles">Bela Amora - Todos os direitos 2021</h4>
        <h4 class="style-titles">Criado por: Leandro Duarte</h4>
    </footer>
    <script src="scripts/main.js"></script>
</body>
</html>